html {
  min-height: 100%;
  font-family: "Nunito", sans-serif;
}

body {
  background: #008B8B;
  line-height: 1.5;
}

h1 {
  font-weight: 200;
  font-size: 3rem;
  color: white;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}

.acordeon {
  max-width: 400px;
  background: white;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 50px;
}

img{
  max-width: 200px;
  margin-left: 25%;
}

.acordeon-label {
  border-bottom: 1px solid #dde0e7;
  color: #222222;
  cursor: pointer;
  font-weight: 600;
  padding: 1.5rem;
  background: #f6f7f9;
  text-align: center;
}

.acordeon-label:hover {
  background: #beede0;
}

.acordeon-label.active {
  background-color: #beede0;
}

.acordeon-content {
  display: none;
  border-bottom: 1px solid #dde0e7;
  background: #fff;
  padding: 1.4rem;
  color: #4a5666;
  font-family: 'M PLUS 1 Code', sans-serif;
}






.tabs {
   clear: both;
   position: relative;
   max-width: 650px;
   margin: 0 auto;
   border: 2px  AliceBlue;
   border-style: inset;
   border-radius: 5px;
   padding: 15px;
   background-color: white;
   margin-bottom: 20px;
}

.tab {
   float: left;
}

.tab label {
   margin-right: 20px;
   position: relative;
   top: 0;
   cursor: pointer;
   color: #333;
   text-transform: uppercase;

}

.tab [type="radio"] {
   display: none;
}

.tab__content {
   position: relative;
   top: 40px;
   left: 0;
   right: 0;
   bottom: 0;
   transition: opacity 0.2s cubic-bezier(0.42, 0, 0.34, 1.01);
   opacity: 0;
   padding: 10px;
}

.tab__content > img{
  margin-left: 32%;
}


[type="radio"]:checked ~ label {
   border-bottom: 2px solid #1d1d1d;
   color: #1d1d1d;
   z-index: 2;
}

[type="radio"]:checked ~ label ~ .tab__content {
   z-index: 1;
   opacity: 1;
}
